# Gradle
.gradle/
**/build/
!gradle/wrapper/gradle-wrapper.jar

# IDE
.idea/
.vscode/
*.iml

# Logs
*.log

# Java/Kotlin
*.class

# Python venv (kui kasutad analüüsiks)
.venv/

# Outputs
out/

# Crash logs
hs_err_pid*
replay_pid*
